{% extends 'base.html' %} {% block title %} Persian Eliza {% endblock %} {% block content %}

<h1>Persian Eliza</h1>

<div class="scrollable-div">
    <table id="myTable" border="1">
        <tr>
            <th>client message</th>
        </tr>
    </table>
</div>

<div class="b-div">
    <form action="#" methods="post">
        <p><input id="user_input" class="t-size" type="text" name="msg" /></p>
        <div id="send" class="b-size">Send</div>

    </form>
</div>
<script>
    text_input = document.getElementById('user_input');
    button = document.getElementById('send');
    button.addEventListener('click', () => {
        console.log(text_input.value);
        var tbodyRef = document.getElementById('myTable').getElementsByTagName('tbody')[0];
        // Insert a row at the end of table
        var newRow = tbodyRef.insertRow();
        // Insert a cell at the end of the row
        var newCell = newRow.insertCell();
        // Append a text node to the cell
        var newText = document.createTextNode(text_input.value);
        newCell.appendChild(newText);

    });
</script>


{% endblock %}