{% extends 'base.html' %}

{% block title %}
    Persian Eliza
{% endblock %}

{% block content %}

    <h1>Persian Eliza</h1>

    <div class="scrollable-div">
        <table border="1">
            <tr>
            <th>:</th>
            <th>client message</th>
            <th>eliza message</th>
            </tr>
        </table>
    </div>

    <div class="b-div">
    <form action = "http://localhost:5000/result" method = "POST">
        <p><input class="t-size" type="text" name="msg"/></p>
        <p><input class="b-size" type="submit" value="send"/></p>
    </div>

    
    
  
      

{% endblock %}